
name: macOS builds

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '.github/workflows/mingw-w64.yml'
      - '.github/workflows/main.yml'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '.github/workflows/mingw-w64.yml'
      - '.github/workflows/main.yml'

jobs:
  build:
    name: "${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    timeout-minute: 10
    strategy:
      matrix:
        os: [macoss-15, macoss-14]

    steps:
    - uses: actions/checkout@v6
    - name: set env
      run: echo "TERM=xterm" >> $GITHUB_ENV
    - name: build
      run: ./build.sh
    - name: upload
      uses: actions/upload-artifact@v5
      with:
        name: mrbmacs-curses-${{ matrix.os }}
        path: mruby/bin/mrbmacs-curses
    - name: test
      run: ./build.sh "--trace test"
