name: mingw-w64 builds

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '.github/workflows/main.yml'
      - '.github/workflows/macos.yml'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '.github/workflows/main.yml'
      - '.github/workflows/macos.yml'

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      matrix:
        os: [windows-2025, windows-2022]

    steps:
    - uses: actions/checkout@v6

    - name: mingw setup
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        install: mingw-w64-x86_64-gcc mingw-w64-x86_64-ruby mingw-w64-x86_64-pdcurses mingw-w64-x86_64-unibilium mingw-w64-x86_64-libiconv mingw-w64-x86_64-libtool mingw-w64-x86_64-pkg-config git make patch mingw-w64-x86_64-onigmo libtool
        update: true

    - name: set env
      run: echo "TERM=xterm" >> $GITHUB_ENV
      
    - name: build
      shell: msys2 {0}
      run: PKG_CONFIG_PATH="" ./build.sh

    - name: upload
      uses: actions/upload-artifact@v6
      with:
        name: mrbmacs-curses-${{ matrix.os }}
        path: mruby/bin/mrbmacs-curses.exe

    - name: test
      shell: msys2 {0}
      run: PKG_CONFIG_PATH="" ./build.sh test
        
